* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

:root {
  --bg-color: darkcyan;
  --second-bg-color: rgb(13, 169, 169);
  --text-color: #fff;
  --general-color: rgb(139, 198, 227);
  --ral-color: darkcyan;
}

body {
  color: #ededed;
}

span {
  color: var(--general-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.static {
  color: var(--general-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: auto;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-img img {
  width: 30vw;
  height: 30vw;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 30%;
  box-shadow: 1px 1px 20px var(--second-bg-color);
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  margin-bottom: 30px;
}

.home-content p {
  font-size: 22px;
}

.home-soc a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--general-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--general-color);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-soc a:hover {
  background: var(--general-color);
  color: var(--bg-color);
  box-shadow: 0 0 20px var(--general-color);
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: var(--general-color);
  border-radius: 40px;
  box-shadow: 0 0 10px var(--general-color);
  font-size: 16px;
  color: var(--bg-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 0.5rem var(--general-color), 0 0 2.5rem var(--general-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  padding: 85px;
}

.about-img img {
  width: 40vw;
  height: 30vw;
  border-radius: 8px;
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 60px;
  text-align: left;
}

.about-content h3 {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.7;
  margin: 7px 0 30px;
}

.about-content p {
  font-size: 20px;
  line-height: 1.4;
  margin: 2rem 0 3rem;
}

.stack-icon {
  margin-top: 20px;
  cursor: pointer;
}

.stack-icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.heading1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}


.projects {
  background: var(--bg-color);
  padding: 85px;
}

.heading {
  text-align: center;
  font-size: 60px;
}

.projects h2 {
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.projects-container .projects-box {
  flex: 1 1 480px;
  background: var(--second-bg-color);
  padding: 48px 32px 46px;
  border-radius: 32px;
  text-align: center;
  border: 3.2px solid var(--second-bg-color);
  transition: 0.5s ease;
  box-shadow: 1px 1px 20px var(--second-bg-color);
}

.projects-container .projects-box:hover {
  border-color: var(--general-color);
  transform: scale(1.02);
}

.projects-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--second-bg-color);
  border-radius: 10px;
}

.project-details {
  max-width: 60%;
}

.projects-box i {
  font-size: 112px;
  color: var(--general-color);
}

.projects-box img {
  width: 40vw;
  height: 30vw;
  border-radius: 8px;
}

.projects-box h3 {
  font-size: 21.6px;
  margin-top: 15px;
}

.projects-box p {
  font-size: 15;
  margin: 16px 0 48px;
  margin-right: 60px;
  margin-left: 60px;
}

.projects-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 80px;
  height: 80px;
  background: var(--general-color);
  border-radius: 50%;
}

.projects-box a i {
  font-size: 22px;
  color: var(--second-bg-color);
}

.contact {
  display: grid;
  background: var(--second-bg-color);
  padding: 85px;
  align-items: center;
  gap: 3rem;
}

.contact h4 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact p {
  color: var(--general-color);
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
}

.contact-list li a {
  text-decoration: none;
  color: var(--general-color);
}


.contact-list i {
  display: inline-block;
  color: var(--general-color);
  font-size: 30px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--general-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 0.8rem;
}

.footer-iconHome a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconHome a:hover {
  box-shadow: 0 0 1rem var(--second-bg-color);
}

.footer-iconHome a i {
  font-size: 1.4rem;
  color: var(--general-color);
}

/* Responsive Breakpoints */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .projects {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.static {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 50vw;
    margin-top: 4rem;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  .projects-box img {
    width: 250px;
    height: 200px;
  }
  .projects-box h3 {
    font-size: 12.6px;
  }
  .projects-box p {
    font-size: 10;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .projects-box img {
    width: 200px;
    height: 150px;
  }
  .projects-box h3 {
    font-size: 10px;
  }
  .projects-box p {
    font-size: 8;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .about-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
